body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
   background: linear-gradient(
    135deg,
    #2193f3,   /* Blue */
    #00c853,   /* Green */
    #ffeb3b  
  );
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: red;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  width: 420px;
  padding: 25px;
  text-align: center;
  border-radius: 12px;
  font-size: 18px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

button {
  background-color:aqua;
  color: white;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #e65c00;
}